include LICENSE
include CONTRIBUTING.rst
include README.md
include RELEASE.md
include CHANGELOG.md
include pyproject.toml

# include everything in package_data
recursive-include jupyter_server_terminals *

recursive-include tests *

# Documentation
graft docs
exclude docs/\#*

# docs subdirs we want to skip
prune docs/build
prune docs/gh-pages
prune docs/dist

# Top level excludes
exclude .pre-commit-config.yaml
exclude *.yml
exclude .gitconfig

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
prune .git
prune **/.ipynb_checkpoints
prune **/.pytest_cache
prune **/.coverage
prune **/.pytest_cache
